<% @tweets.each do |tweet| %>
	<div class="blogs">
		<div class="blog"><p><%= tweet.text %></p></div>
		<% if user_signed_in? && current_user.id == tweet.user_id %>
			<div class="buttons">
				<div class="button"><%= link_to 'DESTROY', "/tweets/#{tweet.id}", method: :delete %></div>
 				<div class="button"><%= link_to 'SHOW', "/tweets/#{tweet.id}", method: :get %></div>
				<div class="button"><%= link_to 'EDIT',  "/tweets/#{tweet.id}/edit", method: :get %></div>
			</div>
		<% else %>
			<div class="buttons">
 				<div class="button"><%= link_to 'SHOW', "/tweets/#{tweet.id}", method: :get %></div>
			</div>
		
		<% end %>
	</div>
<% end %>